.Main{
    width: 100%;
    margin-bottom: 24px;
    .header{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        h1{
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 15px;
            color: #FFFFFF;
        }
    }
   
}